{{outlet}}
<h1>Need a Couch is here for everyone who has ever needed a place to crash*!</h1>
<h1>(We're like Couchsurfing, but for people who know each other)</h1>
<footer>*We apologize to everyone who thought this was an app to let people buy physical couches.</footer>
